<.card flush>
  <:header>
    <.segmented id="tickets-scope" value={@scope} label="View">
      <:segment value="all" patch={@paths.all}>All</:segment>
      <:segment value="active" patch={@paths.active}>Active</:segment>
      <:segment value="backlog" patch={@paths.backlog}>Backlog</:segment>
    </.segmented>
  </:header>
  <:actions>
    <.icon_button label="Filter" kbd="F">
      <.icon name="funnel" />
    </.icon_button>
    <.icon_button label="Display" kbd="D">
      <.icon name="adjustments-horizontal" />
    </.icon_button>
  </:actions>
  <.scroll_area label="Tickets" data-lantern-list-nav>
    <.group_band name="In progress" count={2} patch={@paths.in_progress}>
      <:glyph><.status_glyph status={:in_progress} /></:glyph>
      <:action navigate={@paths.new_in_progress} label="New ticket in In progress">
        <.icon name="plus" />
      </:action>
    </.group_band>
    <.list_row
      :for={ticket <- @tickets}
      identifier={ticket.identifier}
      title={ticket.title}
      parent={ticket.parent}
      navigate={ticket.href}
      selected={ticket.selected}
      data-lantern-list-item
    >
      <:leading><.status_glyph status={ticket.status} /></:leading>
      <:meta>
        <.badge size="sm">{ticket.tag}</.badge>
      </:meta>
      <:trailing>{ticket.date}</:trailing>
    </.list_row>
    <.group_band name="Done" count={40} collapsed patch={@paths.done}>
      <:glyph><.status_glyph status={:done} /></:glyph>
    </.group_band>
  </.scroll_area>
</.card>
