<.card>
  <:actions>
    <.icon_button label="Promote to ticket" kbd="P" variant="primary">
      <.icon name="arrow-up-tray" />
    </.icon_button>
    <.icon_button label="Snooze" kbd="H">
      <.icon name="clock" />
    </.icon_button>
    <.icon_button label="Mark resolved" kbd="E">
      <.icon name="check" />
    </.icon_button>
    <.icon_button label="More">
      <.icon name="ellipsis-horizontal" />
    </.icon_button>
  </:actions>
  Inbox thread
</.card>
